.about {
  display: grid;
  gap: 40px;
  margin-bottom: 120px;

  @media (min-width: 700px) {
    gap: 63px;
    margin-bottom: 96px;
  }

  @media (min-width: 1024px) {
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin-bottom: 200px;
  }

  @media (min-width: 1280px) {
    grid-template-columns: 445px auto;
    gap: 125px;
  }
}

.image {
  width: 100%;
  height: 300px;
  background-image: url(/assets/shared/mobile/image-best-gear.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media (min-width: 700px) {
    background-image: url(/assets/shared/tablet/image-best-gear.jpg);
  }

  @media (min-width: 1024px) {
    background-image: url(/assets/shared/desktop/image-best-gear.jpg);
    height: 588px;
    order: 2;
  }
}

.text {
  display: grid;
  gap: 32px;
  text-align: center;

  @media (min-width: 700px) {
    padding: 0 50px;
  }

  @media (min-width: 1024px) {
    padding: 0;
    text-align: left;
    order: 1;
  }
}