@import 'variables.css';

* {
    box-sizing: border-box;
}

body {
    font-family: 'Manrope', sans-serif;
}

h1, p {
    margin: 0;
}

a {
    text-decoration: none;
}

.lrPaddingContainer {
    padding-left: 24px;
    padding-right: 24px;
    @media (min-width: 700px) {
        padding-left: 40px;
        padding-right: 40px;  
    }
    @media (min-width: 1280px) {
        padding-left: 165px;
        padding-right: 165px;
    }
}

.baseText {
    opacity: .5;
    line-height: 1.55;
    font-weight: 500;
}

.upperCaseBold13px {
    font-size: .8rem;
    font-weight: 700;
    text-transform: uppercase;
}

.whiteLink {
    color: rgb(var(--simple-white));
    letter-spacing: 2px;
    line-height: 1.9;
    &:hover {
        color: rgb(var(--highlight-bright-color));
    }
}

.svgIcons {
    cursor: pointer;
    fill: rgb(var(--simple-white));
    &:hover {
        fill: rgb(var(--highlight-bright-color));
    }
}