.headerWrapper {
  /*Not for home page*/
  position: relative;
  background-color: rgb(var(--primary-black));
}

.header {
  position: relative;
  z-index: 50;
  padding-top: 32px;
  padding-bottom: 32px;
  border-bottom: 1px solid rgba(var(--primary-white), 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (min-width: 1024px) {
  /*Reordering for desktop menu*/
  .logo {
    order: 1;
  }

  .cartIcon {
    order: 3;
  }
}
