.header {
    position: relative;
    background-color: rgb(var(--simple-black));
    padding-top: 32px;
    padding-bottom: 32px;
    border-bottom: 1px solid rgba(var(--simple-white), .1);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cartIcon {
    cursor: pointer;
    fill: rgb(var(--simple-white));
    &:hover {
        fill: rgb(var(--highlight-bright-color));
    }
}

@media (min-width: 1024px) {/*Reordering for desktop menu*/
    .logo {
        order: 1
    }
    .desktopMenu {
        order: 2;
    }
    .cartIcon {
        order: 3;
    }
}

.mobileMenu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.desktopMenu {
    display: flex;
    gap: 34px;
}
