.mobileMenu {
  position: absolute;
  top: 100%;
  left: -24px;
  right: -24px;
  z-index: 100;
  display: grid;
  padding-top: 80px;
  background-color: rgb(var(--primary-white));
  border-radius: 0px 0px 8px 8px;

  & .categoriesMenu {
    margin-bottom: 35px;
  }

  @media (min-width: 700px) {
    left: -40px;
    right: -40px;
  }
}

.desktopMenu {
  display: flex;
  gap: 34px;

  @media (min-width: 1024px) {
    order: 2;
  }
}

.categoriesMenu {
  display: grid;
  gap: 50px;
  margin-bottom: 120px;

  @media (min-width: 700px) {
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-bottom: 96px;
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-bottom: 120px;
  }
}

.categoriesMenuItem {
  background-color: rgb(var(--primary-gray));
  padding-bottom: 22px;
  width: 100%;
  text-align: center;
  display: grid;
  justify-items: center;
}

.categoriesMenuItemImg {
  max-width: 110px;
  height: auto;
  margin-top: -35px;

  @media (min-width: 1024px) {
    max-width: 160px;
    margin-top: -55px;
  }
}

.categoriesLinkWrapper {
  display: flex;
  align-items: center;
}

.categoriesMenuItemLink {
  color: rgba(var(--primary-black), 0.5);
  letter-spacing: 1px;
  margin-right: 13px;

  &:hover {
    color: rgb(var(--highlight-bright-color));
  }
}
